/* Küçük Telefonlar (320px - 480px) */
@media (max-width: 480px) {
    .header__top__right{
        display: none !important;
    }
    .header__top__left__main{
        font-size: 14px;
    }
    .header__bottom__menu{
        display: none;
    }
    .header__logo img{
        width: 180px;
    }
    #mobileMenuOpenButton{
        display: block !important;
        font-size: 25px;
    }

    #hero__wrapper .hero__wrapper__main h4{
        font-size: 24px !important;
    }
    #hero__wrapper .hero__wrapper__main small{
        font-size: 13px !important;
    }
    .hero__wrapper__input__area{
        display: flex;
        flex-direction: column !important;
    }
}

/* Orta Boy Telefonlar (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .header__top__right{
        display: none !important;
    }
    .header__top__left__main{
        font-size: 14px;
    }
    .header__bottom__menu{
        display: none;
    }
    .header__logo img{
        width: 180px;
    }
    #mobileMenuOpenButton{
        display: block !important;
        font-size: 25px;
    }
}

/* Tabletler (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .header__top__right{
        display: none !important;
    }
    .header__top__left__main{
        font-size: 14px;
    }
    .header__bottom__menu{
        display: none;
    }
    .header__logo img{
        width: 180px;
    }
    #mobileMenuOpenButton{
        display: block !important;
        font-size: 25px;
    }
}

/* Küçük Dizüstü ve Masaüstü (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Stil buraya yazılır */
}

/* Büyük Ekranlar ve 4K (1281px ve üstü) */
@media (min-width: 1281px) {
    /* Stil buraya yazılır */
}
