/* Küçük Telefonlar (320px - 480px) */
@media (max-width: 480px) {
    .header__top__right,
    .header__bottom__menu {
        display: none !important;
    }

    .header__top__left__main {
        font-size: 14px;
    }

    .header__logo img {
        width: 180px;
    }

    #mobileMenuOpenButton {
        display: block !important;
        font-size: 25px;
    }

    #hero__wrapper .hero__wrapper__main h4 {
        font-size: 24px !important;
    }

    #hero__wrapper .hero__wrapper__main small {
        font-size: 13px !important;
    }

    .hero__wrapper__input__area {
        flex-direction: column !important;
    }

    .popular__holiday__themes {
        grid-template-columns: 1fr;
    }

    .popular__holiday__theme__left,
    .popular__holiday__theme__right {
        padding: 10px;
    }

    .popular__holiday__theme__title h4 {
        font-size: 24px;
    }

    .popular__holiday__theme__title a {
        font-size: 14px;
    }

    .popular__holiday__theme__left__binary {
        display: flex;
        flex-direction: column;
    }
    .popular__tours__main {
        grid-template-columns: 1fr;
        padding: 10px !important;
    }

    .popular__tours__title h4 {
        font-size: 24px;
    }
    .footer-container {
        width: 100%;
        flex-direction: column;
    }
    .footer-column {
        min-width: 100%;
    }
    .hero__advert__card {
        display: none;
    }
    .footer-column {
        min-width: 100%;
    }

    .footer-column ul {
        padding: 0;
    }
}

/* Orta Boy Telefonlar (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .header__top__right,
    .header__bottom__menu {
        display: none !important;
    }

    .header__top__left__main {
        font-size: 14px;
    }

    .header__logo img {
        width: 180px;
    }

    #mobileMenuOpenButton {
        display: block !important;
        font-size: 25px;
    }

    .hero__advert__card {
        display: none;
    }

    .advert__card {
        padding: 12px;
    }

    .advert__card__main h4 {
        font-size: 14px;
    }

    .advert__card__main small {
        font-size: 12px;
    }

    .popular__holiday__themes {
        grid-template-columns: 1fr;
        padding: 10px !important;
    }

    .popular__holiday__theme__left__binary {
        grid-template-columns: 1fr;
    }
    .popular__tours__main {
        grid-template-columns: 1fr 1fr !important;
        padding: 10px;
    }
    .popular__holiday__theme__right {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        gap: 15px !important;
    }
    .popular__tours__title h4 {
        font-size: 24px;
    }
    .footer-column {
        min-width: 100%;
    }

    .footer-column ul {
        padding: 0;
    }
}

/* Tabletler (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .header__top__right,
    .header__bottom__menu {
        display: none !important;
    }

    .header__top__left__main {
        font-size: 14px;
    }

    .header__logo img {
        width: 180px;
    }

    #mobileMenuOpenButton {
        display: block !important;
        font-size: 25px;
    }

    .popular__holiday__themes {
        grid-template-columns: 1fr 1fr;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}

/* Küçük Dizüstü ve Masaüstü (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
    .popular__holiday__themes {
        grid-template-columns: 60% 40%;
    }
}

/* Büyük Ekranlar ve 4K (1281px ve üstü) */
@media (min-width: 1281px) {
    .popular__holiday__themes {
        grid-template-columns: 60% 40%;
    }
}
